<h1>Welcome! Please Add a Recipe</h1>
  <form action='/recipes' method="post">
    <label for="name"></label>
    <input type="text" id="name" name="name" placeholder="Recipe Name">

    <label for="ingredients"></label>
    <input type="text" id="ingredients" name="ingredients" placeholder="Ingredients">

    <label for="cook_time"></label>
    <input type="text" id="cook_time" name="cook_time" placeholder="Cook Time">

    <input type="submit" value="Submit">
  </form>
