 <h1>Create new recipe</h1>
    <form action="/recipes" method="post">
      <p>
        <label for="name">Recipe Name</label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <label for="ingredients">Ingredients</label>
        <input type="text" name="ingredients" id="ingredients">
      </p>
      <p>
        <label for="cook_time">Cooking Time</label>
        <input type="text" name="cook_time" id="cook_time">
      </p>
      <p><input type="submit" name="" value="Submit"></p>
    </form>
