Name: <%= @recipe.name %>
Ingredients: <%= @recipe.ingredients %>
Cook Time: <%= @recipe.cook_time %>

<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" value="DELETE" name="_method"/>
    <input type="submit" value="delete"/>
</form>